<!-- Use site subtitle by default -->
{{ $description := .Site.Params.sidebar.subtitle }}

<!-- Seprate description exists -->
{{ if .Site.Params.description }}
    {{ $description = .Site.Params.description }}
{{ end }}

{{ if .Description }}
    <!-- Page description exists -->
    {{ $description = .Description }}
{{ else if .IsPage }}
    <!-- Use page summary (truncated to avoid recursion/timeout) -->
    {{ $description = .Summary | truncate 160 "..." | plainify }}
{{ end }}

{{ return (replaceRE "\n" " " $description) }}